* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

}

.size {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 268px;
    height: 33px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu li{
    list-style: none;
    display: inline;
    padding-left: 30px;
}

.menu li a {
    color: #ababab;
    font-size: 16px;
}
.menu li:nth-child(1) a{
    color: #00b39b; 
}

.menu li a:hover {
    color: #00b39b;
}

/* Hero Styling */
.hero {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 40px;
    height: 40px;

}
.hero .title {
    color: #00b39b;
    font-weight: 300;
    font-size: 38px;
}

.hero .descs{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hero .descs .desc {
    line-height: 30px;
    color: #747474;
}

/* Services Styling */
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 30px;
}

.services .card {
    height: 350px;
    width: 360px;
    padding: 30px 40px;
    color: #ffffff;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services .card img{
    width: 40px;
    height: 40px;
}

.cardTitle {
    margin-top: -40px;
    font-size: 35px;
}

.cardDesc {
    font-weight: 300;
    line-height: 25px;
    margin-top: -50px;
    font-size: 20px;
}

.card:nth-child(3) .cardTitle {
    margin-top: -5px;
}

.card:nth-child(3) .cardDesc {
    margin-top: -10px;
}


.services .card:nth-child(1) {
    background-color: #00ccb1;
}

.services .card:nth-child(2) {
    background-color: #3d83df;
}

.services .card:nth-child(3) {
    background-color: #1b2734;
}

.dropdown {
    border: none;
    background: inherit;
    font-size: 20px;
    color: #ffffff;
    text-decoration: underline;
}

.dropdown:focus {
    outline: none;
}

.partners {
    display: flex;
    justify-content: space-between;
}

.right {
    width: 50%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.right img {
    width: 5.5rem;
    object-fit: contain;
}

.left {
    width: 25%;
}

.partnerDesc {
    font-size: 30px;
    color: #00b39b;
    line-height: 50px;
}

.record {
    width: 100%;
    height: auto;
    background-color: #d0faf4;
}

.inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    
}

.innerCard {
    width: 200px;
    height: 240px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.innerRight {
    width: 50%;
    gap: 40px;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 20px;
}

.innerCard img {
    width: 30px;
    height: 30px;
}

.innerTitle {
    font-size: 23px;
    color: #00b39b;
    text-align: center;

}

.innerDesc {
    font-size: 13px;
    color: #000000;
    text-align: center;
}

.innerCard:nth-child(1), .innerCard:nth-child(3){
    margin-top: 20px;

}

.innerLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recordTitle {
    color: #00b39b;
    line-height: 40px;
    width: 60%;
    padding-bottom: 40px;
}

.recordDesc {
    font-size: 15px;
    color: #747474;
    width: 75%;
    line-height: 25px;
    padding-bottom: 40px;
}

.innerLeft img {
    width: 451px;
    height: 330px;

}

.improve {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.improveTitle, .improveDesc {
    text-align: center;
    padding-bottom: 50px;
    width: 
}

.improveTitle {
    font-size: 35px;
    width: 46%;
    line-height: 40px;
    word-break: break-all;
    color:#00b39b;
}

.improveDesc {
    width: 48%;
    line-height: 25px;
    color: #747474;
    font-size: 15px;
}

.country {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: center;
}

.place {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    align-items: center;
}

.bottom button {
    background-color:#3d83df;
    color: #ffffff;
    border-radius: 3px;
    height: 38px;
    width: 120px;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
}


.bottom p {
    font-size: 17px;
    color: #747474;
    text-transform: capitalize;
}

.place:hover {
    border-radius: 10px;
    box-shadow: -1px -1px 10px 5px #00000020;

}

.bottom:hover button {
    cursor: pointer;
}

.sound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.soundTitle {
    color: #000000;
    font-family: san-serif;
    font-weight: lighter;
}

.soundBtn {
    padding: 16px 10px;
    background-color: #3d83df;
    color: #ffffff;
    border: none;
    font-weight: bolder;
    border-radius: 5px;
}
